// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	&-inner{
		width: 90%;
		margin: auto;
		@include min(768){
			width: 70%;
			max-width: 1000px;
		}
	}

	&.-bg-siteColor01{background: $site-color01;}
	&.-bg-siteColor02{background: $site-color02;}
	&.-bg-white      {background: $main-color--w;}


	&.-f-view{//ファーストビュー
		position: relative;
		overflow: hidden;
		.fvBg{
			position: relative;
			width: 100lvw;
		}
	}


	&.-imgBg{//背景画像
		position: relative;
		&.-bg{//背景画像が大きくなると、コンテンツが間延びしてしまう場合
			overflow: hidden;
			&.-c02 .imgBox{@include min(768){max-height: 1000px;}}
			&.-c04 .imgBox{@include min(768){max-height: 1980px;}}

		}
		.c-contentsBox{
			position: absolute;
			// 要素の真ん中
			&.-center{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
			}
			// ヘッダーロゴ
			&.-logo{
				&-item01{//緑色の鳥
					top: 54%;
					left: 95.5%;
					width: 5%;
					@include min(768){
						top: 17.5%;
						left: 30.8%;
						width: 2.3%;
					}
				}
				&-item02{//黄色の鳥
					top: 45%;
					left: 100%;
					width: 5%;
					@include min(768){
						top: 10%;
						left: 33%;
						width: 1.5%;
					}
				}
			}
			// コンテンツ関係
			&.-contents-body{//.c-contents-innerと併用
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 100%;
			}
			&.-contents01{
				&-item01{//女性
					top: 92%;
					left: 86%;
					transform: translate(-50%, -50%);
					width: 31%;
					z-index: 2;
					@include min(768){
						top: 91%;
						left: 90%;
						width: 18%;
					}
				}
				&-item02{//男性
					top: 90%;
					left: 19%;
					transform: translate(-50%, -50%);
					width: 31%;
					@include min(768){
						left: 16%;
						width: 17.5%;
					}
				}
				&-item03{//Aさん
					top: 35%;
					left: 24%;
					transform: translate(-50%, -50%);
					width: 45%;
					@include min(768){
						top: 37%;
						left: 16%;
						width: 30%;
					}
				}
				&-item04{//5,000円
					top: 34%;
					left: 80%;
					transform: translate(-50%, -50%);
					width: 37%;
					@include min(768){
						top: 50%;
						left: 91%;
						width: 30%;
					}
				}
			}
			&.-contents02{
				&-title{
					top: 20%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
				}

				&-item01{//悩む男性
					top: 70%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 33%;
					@include min(768){
						top: 75%;
						width: 24%;
					}
				}
				&-item02{
					top: 43%;
					left: 47.85%;
					transform: translate(-50%, -50%);
					width: 49%;
					z-index: 2;
					@include min(768){
						top: 48%;
						left: 49.85%;
						width: 41%;
					}
				}
				&-item03{
					top: 49%;
					left: 18%;
					transform: translate(-50%, -50%);
					width: 35%;
					z-index: 1;
					@include min(768){
						top: 51%;
						left: 20%;
						width: 30%;
					}
				}
				&-item04{
					top: 50%;
					left: 84%;
					transform: translate(-50%, -50%);
					width: 36%;
					z-index: 3;
					@include min(768){
						top: 51%;
						left: 82%;
						width: 28%;
					}
				}
				&-item05{
					top: 67%;
					left: 19%;
					transform: translate(-50%, -50%);
					width: 40%;
					@include min(768){
						top: 74%;
						left: 22%;
						width: 33%;
					}
				}
				&-item06{
					top: 64%;
					left: 82%;
					transform: translate(-50%, -50%);
					width: 43%;
					@include min(768){
						top: 73%;
						left: 80%;
						width: 33%;
					}
				}
			}
			&.-contents03{
				&-item01{//顧客満足度
					top: 45%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					@include min(768){
						top: 37%;
						left: 64%;
						width: 60%;
					}
				}
				&-item02{//インプレームが選ばれる理由
					top: 78%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;

					@include min(768){
						top: 70%;
					}
				}
				&-item03{//お金アイコン
					top: 71%;
					left: 6.75%;
					transform: translate(-50%, -50%);
					width: 15%;	
					@include min(768){
						top: 61%;
					}
				}
				&-item04{//グラフアイコン
					top: 80.5%;
					left: 94.5%;
					transform: translate(-50%, -50%);
					width: 14%;
					@include min(768){
						top: 78%;
					}
				}
				&-item05{//女性
					top: 93.5%;
					left: 14.5%;
					transform: translate(-50%, -50%);
					width: 23%;
					@include min(768){
						top: 91.5%;
						width: 21%;
					}
				}
				&-item06{//ご夫婦
					top: 93.5%;
					left: 82.5%;
					transform: translate(-50%, -50%);
					width: 30%;
					@include min(768){
						top: 91.5%;
						width: 27%;
					}
				}
			}
			&.-contents04{
				&-title{
					top: 3%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					@include min(768){top: 7%;}
				}
			}
				&.-flowItem{
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					&.-flowItem01{
						top: 13.25%;
						@include min(768){top: 20%;}
					}
					&.-flowItem02{
						top: 31.5%;
						@include min(768){top: 36%;}
					}
					&.-flowItem03{
						top: 50%;
						@include min(768){top: 52%;}
					}
					&.-flowItem04{
						top: 69%;
						@include min(768){top: 68%;}
					}
					&.-flowItem05{
						top: 88%;
						@include min(768){top: 84%;}
					}

					.selif{
						position: relative;
						width: 23%;
						@include min(768){width: 26%;}
						&::after{
							position: absolute;
							top: 32%;
							left: 50%;
							transform: translate(-50%, -50%);
							color: $site-color05;
							font-size: clamp(1.4rem, 2vw, 2rem);
							font-family: $f-e04;
							font-weight: bold;
							letter-spacing: .2rem;
						}
						&.-no1{&::after{content: "Flow01";}}
						&.-no2{&::after{content: "Flow02";}}
						&.-no3{&::after{content: "Flow03";}}
						&.-no4{&::after{content: "Flow04";}}
						&.-no5{&::after{content: "Flow05";}}

					}
				}
		}
	}

	&.-returnBtn{// 戻るボタン
		a{
			display: block;
			width: 20%;
			border-radius: 5px;
			overflow: hidden;
			margin: auto;
			text-align: center;
			box-shadow: 1px 1px gray;
			@include min(768){width: 6%;}
			@include min(1400){width: 7%;}
		}
	}
}